<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Icoder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block homeactive %}{% endblock homeactive  %}">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% block aboutactive %}{% endblock aboutactive  %}">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item {% block blogactive %}{% endblock blogactive  %}">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
            <li class="nav-item">
              <a class="nav-link {% block contactactive %}{% endblock contactactive  %}" href="/contact">Contact</a>
            </li>
            
            
          </ul>
          <div class="ml-auto form-inline">
          <form method="get" action="/search" class=" my-2 my-lg-0 mx-3">
            <input class="form-control mr-sm-2" name="query" id="query" type="search" placeholder="Search" aria-label="Search">
            
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
          {% if user.is_authenticated %}
          <ul class="navbar-nav mr-2">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome {{request.user}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/logout">Logout</a>
                
              </div>
            </li>

          </ul>
        
           {% else %}
          {% comment %} <a href="/admin" role="button" target="_blank" class="btn btn-outline-success m-2 my-sm-0">Admin Panel</a> {% endcomment %}
          <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#loginModal">
            Login
           </button>
          
          <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#signupModal">
            SignUp
           </button>
          
           
           {% endif %}
          </div>
        </div>
      </nav>
      
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      </div>
      {% endfor %}
      <!-- Button to trigger modal -->


<!-- signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModal">SignUp here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/signup/" method="post">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="unique username in lowercase & alphanumeric" Required >
          </div>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" Required>
          </div>
          
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" Required>
          </div>
          <div class="form-group">
            <label for="lname">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" Required>
          </div>
          <div class="form-group">
            <label for="pass1">Choose your password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose your password" Required>
          </div>
          <div class="form-group">
            <label for="pass2">confirm password</label>
            <input type="password" class="form-control" id="pass2" name="pass2" placeholder="confirm password" Required>
          </div>
        
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
       
        
      </div>
    </div>
  </div>
</div>
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Login here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login/" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="unique username" Required>
          </div>
          
            
            
          <div class="form-group">
            <label for="pass">Your password</label>
            <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="your password" Required>
          </div>
          
        

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
       
        
      </div>
    </div>
  </div>
</div>
     
      {% block body%}
       

      {% endblock body %}    
      
      {% block js %}
      {% endblock js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>